In [1]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_pickle('data/levels-20191101')

In [3]:
df

,time,sym,L1bid_price,L1bid_size,L1ask_price,L1ask_size,L2bid_price,L2bid_size,L2ask_price,L2ask_size,...,L3ask_price,L3ask_size,L4bid_price,L4bid_size,L4ask_price,L4ask_size,L5bid_price,L5bid_size,L5ask_price,L5ask_size
0,2019-10-31 21:00:00.077903697,b'GCZ9:MBO',15152.000000,2,15155.000000,2,15151.000000,2,15156.000000,3,...,15157.000000,3,15149.000000,2,15158.000000,5,15148.000000,6,15159.000000,16
135933,2019-10-31 21:00:00.084010111,b'UBZ9:MBO',189.531250,4,189.625000,2,189.500000,4,189.656250,3,...,189.687500,3,189.437500,5,189.718750,4,189.406250,4,189.750000,4
680564,2019-10-31 21:00:00.084010111,b'ZFZ9:MBO',119.203125,14,119.210938,30,119.195312,61,119.218750,46,...,119.226562,111,119.179688,208,119.234375,141,119.171875,257,119.242188,164
711951,2019-10-31 21:00:00.084010111,b'ZNZ9:MBO',130.296875,246,130.312500,68,130.281250,417,130.328125,142,...,130.343750,413,130.250000,1936,130.359375,695,130.234375,1512,130.375000,739
463313,2019-10-31 21:00:00.084010111,b'TNZ9:MBO',142.093750,15,142.125000,4,142.078125,13,142.140625,7,...,142.156250,19,142.046875,30,142.171875,16,142.031250,26,142.187500,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752468,2019-11-01 21:00:00.084227369,b'UBZ9:MBO',189.281250,1,189.343750,2,189.250000,4,189.375000,8,...,189.406250,6,189.187500,7,189.437500,7,189.156250,5,189.468750,6
175262,2019-11-01 21:00:00.084227369,b'ZNZ9:MBO',130.109375,80,130.140625,228,130.093750,223,130.156250,386,...,130.171875,867,130.062500,745,130.187500,1326,130.046875,1329,130.203125,1364
680563,2019-11-01 21:00:00.084227369,b'ZBZ9:MBO',160.968750,5,161.000000,4,160.937500,19,161.031250,42,...,161.062500,25,160.875000,59,161.093750,35,160.843750,72,161.125000,56
135932,2019-11-01 21:00:00.084227369,b'TNZ9:MBO',141.843750,9,141.875000,12,141.828125,19,141.890625,19,...,141.906250,17,141.796875,23,141.921875,28,141.781250,30,141.937500,31
749790,2019-11-01 21:00:00.084227369,b'ZTZ9:MBO',107.734375,117,107.738281,131,107.730469,377,107.742188,410,...,107.746094,391,107.722656,414,107.750000,435,107.718750,442,107.753906,448

In [4]:
df.describe()

,L1bid_price,L1bid_size,L1ask_price,L1ask_size,L2bid_price,L2bid_size,L2ask_price,L2ask_size,L3bid_price,L3bid_size,L3ask_price,L3ask_size,L4bid_price,L4bid_size,L4ask_price,L4ask_size,L5bid_price,L5bid_size,L5ask_price,L5ask_size
count,1.174979e+07,1.174979e+07,1.174979e+07,1.174979e+07,1.174979e+07,1.174979e+07,1.174979e+07,1.174979e+07,1.174979e+07,1.174979e+07,1.174979e+07,1.174979e+07,1.174979e+07,1.174979e+07,1.174979e+07,1.174979e+07,1.174979e+07,1.174979e+07,1.174979e+07,1.174979e+07
mean,6.298679e+03,1.559192e+03,6.299079e+03,1.541855e+03,6.298318e+03,8.183040e+02,6.299440e+03,7.200432e+02,6.297957e+03,5.727294e+02,6.299801e+03,5.352924e+02,6.297597e+03,5.771951e+02,6.300162e+03,5.384516e+02,6.297236e+03,5.777860e+02,6.300523e+03,5.269697e+02
std,5.841543e+03,3.478940e+03,5.841926e+03,3.366740e+03,5.841197e+03,1.748076e+03,5.842272e+03,1.459111e+03,5.840851e+03,7.141925e+02,5.842618e+03,6.634223e+02,5.840505e+03,7.525455e+02,5.842965e+03,6.806784e+02,5.840159e+03,7.728847e+02,5.843311e+03,6.740283e+02
min,1.076797e+02,1.000000e+00,1.076836e+02,1.000000e+00,1.076758e+02,1.000000e+00,1.076875e+02,1.000000e+00,1.076719e+02,1.000000e+00,1.076914e+02,1.000000e+00,1.076680e+02,1.000000e+00,1.076953e+02,1.000000e+00,1.076641e+02,1.000000e+00,1.076992e+02,1.000000e+00
25%,1.303125e+02,4.600000e+01,1.303438e+02,4.800000e+01,1.302969e+02,1.320000e+02,1.303594e+02,1.270000e+02,1.302812e+02,1.240000e+02,1.303750e+02,1.210000e+02,1.302656e+02,1.180000e+02,1.303906e+02,1.180000e+02,1.302500e+02,1.140000e+02,1.304062e+02,1.150000e+02
50%,9.844000e+03,3.440000e+02,9.844500e+03,3.800000e+02,9.843500e+03,3.420000e+02,9.845000e+03,3.030000e+02,9.843000e+03,2.590000e+02,9.845500e+03,2.550000e+02,9.842500e+03,2.340000e+02,9.846000e+03,2.490000e+02,9.842000e+03,2.150000e+02,9.846500e+03,2.260000e+02
75%,9.856500e+03,1.302000e+03,9.857500e+03,1.431000e+03,9.856000e+03,9.490000e+02,9.858000e+03,8.690000e+02,9.855500e+03,7.590000e+02,9.858500e+03,6.650000e+02,9.855000e+03,7.230000e+02,9.859000e+03,6.480000e+02,9.854500e+03,7.420000e+02,9.859500e+03,6.500000e+02
max,1.520200e+04,4.966900e+04,1.519000e+04,5.575300e+04,1.518600e+04,4.544900e+04,1.519100e+04,4.320900e+04,1.518500e+04,9.891000e+03,1.519200e+04,4.443000e+03,1.518400e+04,8.043000e+03,1.519300e+04,4.433000e+03,1.518300e+04,8.077000e+03,1.519400e+04,1.052700e+04

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11749791 entries, 0 to 749790
Data columns (total 22 columns):
time           datetime64[ns]
sym            object
L1bid_price    float64
L1bid_size     int64
L1ask_price    float64
L1ask_size     int64
L2bid_price    float64
L2bid_size     int64
L2ask_price    float64
L2ask_size     int64
L3bid_price    float64
L3bid_size     int64
L3ask_price    float64
L3ask_size     int64
L4bid_price    float64
L4bid_size     int64
L4ask_price    float64
L4ask_size     int64
L5bid_price    float64
L5bid_size     int64
L5ask_price    float64
L5ask_size     int64
dtypes: datetime64[ns](1), float64(10), int64(10), object(1)
memory usage: 2.0+ GB

In [6]:
df2 = pd.read_pickle('data/levels-20191201')

In [7]:
df2

,time,sym,L1bid_price,L1bid_size,L1ask_price,L1ask_size,L2bid_price,L2bid_size,L2ask_price,L2ask_size,...,L3ask_price,L3ask_size,L4bid_price,L4bid_size,L4ask_price,L4ask_size,L5bid_price,L5bid_size,L5ask_price,L5ask_size
31,2019-12-01 20:00:12.272613957,b'ZFZ9:MBO',118.632812,10,118.648438,10.0,118.625000,10.0,118.656250,10.0,...,118.664062,10.0,118.609375,20.0,118.671875,20.0,118.601562,20.0,118.679688,21.0
60,2019-12-01 20:00:12.272613957,b'ZTH0:MBO',107.781250,85,107.785156,148.0,107.777344,372.0,107.789062,225.0,...,107.792969,420.0,107.769531,529.0,107.796875,496.0,107.765625,617.0,107.800781,634.0
38,2019-12-01 20:00:12.272613957,b'ZNH0:MBO',129.390625,53,129.406250,64.0,129.375000,428.0,129.421875,1486.0,...,129.437500,792.0,129.343750,950.0,129.453125,981.0,129.328125,1192.0,129.468750,1481.0
62,2019-12-01 20:00:12.272613957,b'ZTZ9:MBO',107.562500,9,107.582031,9.0,107.558594,9.0,107.585938,9.0,...,107.589844,9.0,107.546875,9.0,107.593750,9.0,107.542969,9.0,107.597656,9.0
28,2019-12-01 20:00:12.272613957,b'ZFH0:MBO',118.960938,18,118.968750,19.0,118.953125,76.0,118.976562,47.0,...,118.984375,137.0,118.937500,248.0,118.992188,236.0,118.929688,388.0,119.000000,411.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,2019-12-01 22:29:09.873106547,b'ZFZ9:MBO',118.632812,10,118.671875,10.0,118.625000,10.0,118.679688,121.0,...,118.687500,20.0,118.609375,20.0,118.695312,20.0,118.601562,20.0,118.703125,20.0
36,2019-12-01 22:29:09.873107597,b'ZFZ9:MBO',118.632812,10,118.679688,121.0,118.625000,10.0,118.687500,20.0,...,118.695312,20.0,118.609375,20.0,118.703125,20.0,118.601562,20.0,118.710938,20.0
37,2019-12-01 22:29:11.118561729,b'ZFZ9:MBO',118.632812,10,118.679688,21.0,118.625000,10.0,118.687500,20.0,...,118.695312,20.0,118.609375,20.0,118.703125,20.0,118.601562,20.0,118.710938,20.0
42,2019-12-01 22:29:47.597989873,b'ZNH0:MBO',129.562500,95,129.078125,29.0,129.390625,53.0,129.328125,63.0,...,129.359375,200.0,129.359375,594.0,129.390625,4.0,129.343750,1063.0,129.406250,177.0
61,2019-12-01 22:29:56.332551145,b'ZTH0:MBO',107.816406,83,107.785156,148.0,107.781250,85.0,107.789062,225.0,...,107.792969,420.0,107.773438,489.0,107.796875,496.0,107.769531,529.0,107.800781,634.0

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 31 to 61
Data columns (total 22 columns):
time           64 non-null datetime64[ns]
sym            64 non-null object
L1bid_price    64 non-null float64
L1bid_size     64 non-null int64
L1ask_price    61 non-null float64
L1ask_size     61 non-null float64
L2bid_price    63 non-null float64
L2bid_size     63 non-null float64
L2ask_price    61 non-null float64
L2ask_size     61 non-null float64
L3bid_price    61 non-null float64
L3bid_size     61 non-null float64
L3ask_price    61 non-null float64
L3ask_size     61 non-null float64
L4bid_price    60 non-null float64
L4bid_size     60 non-null float64
L4ask_price    56 non-null float64
L4ask_size     56 non-null float64
L5bid_price    60 non-null float64
L5bid_size     60 non-null float64
L5ask_price    55 non-null float64
L5ask_size     55 non-null float64
dtypes: datetime64[ns](1), float64(19), int64(1), object(1)
memory usage: 11.5+ KB

In [9]:
frames = [df, df2]

In [12]:
frame = [df]

In [16]:
data_array = ['levels-20191201',
'levels-20191202',
'levels-20191205',
'levels-20191206',
'levels-20191207',
'levels-20191209',
'levels-20191210',
'levels-20191212',
'levels-20191215',
'levels-20191216',
'levels-20191217',
'levels-20191218',
'levels-20191219',
'levels-20191221',
'levels-20191222',
'levels-20191223',
'levels-20191227',
'levels-20191228']

In [17]:
frame = []
for data in data_array:
    frame.append(pd.read_pickle('data/'+data))

In [18]:
result = pd.concat(frame)

In [21]:
result.to_csv('data/concat.csv')

In [ ]:
result.info()